{"filter":false,"title":".gitignore","tooltip":"/order-app/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":420,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":29,"state":"start","mode":"ace/mode/text"}},"timestamp":1674649745732,"hash":"0991b88284a9f86eb1eb40a97610e66439ab1242"}